[2012-08-14 19:30] acanda opened #1 "Incorrect calculation of marker start position"
The start position of a marker is not calculated correctly when a line contains spaces and tabs.

In `public class A↦extends Object { }` (↦ represents a tab) the marker will cover `tends` instead of `Object`.

[2012-08-26 09:44] #1 closed, assigned to acanda

[2012-08-28 20:22] acanda opened #2 "BundleException when stopping PMD plug-in"
A `BundleException` is thrown when Eclipse is closed and the PMD plug-in is stopped. This only happens when none of the images from `PMDPluginImages` were used.

[code]

[2012-09-23 21:35] #2 closed, assigned to acanda

[2012-12-30 20:58] acanda opened #3 "Analyzer throws NPE when trying to analyze a file without extension"
The analizer throws a NullPointerException when it tries to analyze a file without a file name extension.

java.lang.NullPointerException
    at ch.acanda.eclipse.pmd.builder.Analyzer.analyze(Analyzer.java:64)
    at ch.acanda.eclipse.pmd.builder.PMDBuilder.analyze(PMDBuilder.java:70)
    at ch.acanda.eclipse.pmd.builder.PMDBuilder$ResourceVisitor.visit(PMDBuilder.java:94)
    at org.eclipse.core.

[2013-01-01 14:09] #3 closed, assigned to acanda

[2013-01-08 20:40] acanda opened #4 "Project is analyzed with inactive PMD rule set configurations"
The files of a project are analized with all available PMD rule set configurations regardless of whether they are activated or not.

[2013-01-14 20:32] #4 closed, assigned to acanda

[2013-06-23 13:41] acanda opened #5 "Suppress "Unsupported @SuppressWarnings("PMD")" warning"
The Eclipse Java compiler creates warnings for unsupported `@SuppressWarnings` token. It would be nice if the eclipse-pmd plugin could suppress these warnings for the `PMD` and `PMD.xyz` token.

[2013-06-23 14:08] #5 closed, assigned to acanda

[2013-09-24 07:14] ffeisst opened #6 "'PMD' properties page is not shown"
I've installed eclipse-pmd 0.7 on a fresh installation of Eclipse Kepler. The installation of the Plug-in is successful. However, no 'PMD' page is visible in the project properties dialog.

I've installed Eclipse Kepler for Java Developers (Linux 32bit) running on Ubuntu 12.04.

There is no error logged in the Eclipse error log.

[2013-12-29 21:15] #6 closed, assigned to acanda

[2014-01-18 02:47] fallard opened #7 "Rules sets not selected on import"
When you enable PMD on a project and check a rule set to use, if you remove the project from the workspace and re-import it, the rule set previously selected isn't anymore.

An entry in the project should keep track of selected rule sets. This way, new developpers on a project won't forget to activate PMD on a project and will follow the team rule set.

[2014-01-18 02:56] fallard opened #8 "Project in workspace option"
It would be nice to be able to add a rule set pointing on a file included in a different  project from the same workspace.

The use case is to have a basic Eclipse project containing all the configuration files of a team (checktyle, formatter, code template, pmd, etc). It is better to use this approach then refering to a hardcoded file system path. You can also put this project in a VCS.

[2014-01-19 17:19] #8 closed, assigned to acanda

[2014-01-27 06:48] #7 closed, assigned to acanda

[2014-02-05 13:47] ffeisst opened #9 "Feature Request: Provide ability to define exclude pattern"
It would be nice, if I can configure per project multiple exclude pattern for files and directories, which should not be checked by PMD.

For example in one of my projects I have a source directory with generated source with the name src/main/src-gen. I want PMD to _not_ check this directory.

The exclude pattern configuration could be stored in the .eclipse-pmd file

[2014-03-04 11:00] SimonWeimann opened #10 "CommentRequired rule broken after annonymous inner classes"
Hi,

we are using the latest eclipse-pmd plugin (0.9) with a pmd 5.1 ruleset. If we have an annnonymous inner class like the following code extract, :

[code]

the rule <rule ref="rulesets/java/comments.xml/CommentRequired" /> will be always marked as PMD Problem. Even subsequent methods in the class with valid javaDoc will be marked as PMD Problem.
Removing the annonymous inner class resolves thi

[2014-03-05 06:05] #9 closed, assigned to acanda

[2014-03-14 13:56] #10 closed, assigned to acanda

[2014-04-02 18:22] hjanetzek opened #11 "'Your project will now be analysed by PMD' How to see the result?"
I've added a file containing the example from 'Add some rule references to it' (http://pmd.sourceforge.net/pmd-5.0.0/howtomakearuleset.html) via pmd project properties tab. - Now I wonder where one can see the result?

[2014-04-02 18:24] #11 closed, assigned to acanda

[2014-04-09 07:28] ffeisst opened #12 "Violations of rule coupling/ExcessiveImports are not recognized"
In a Java file with too many imports, the eclipse-pmd plugin does not recognize the violation of the rule coupling/ExcessiveImports. Running PMD with the same ruleset results in the correct violation.

[2014-07-04 00:36] ianbrandt opened #13 "The location is not a valid URI for Workspace type"
I get "The location is not a valid URI" when I try to add a workspace relative rule set.

Spring Tool Suite
Version: 3.5.1.RELEASE
Build Id: 201405030657
Platform: Eclipse Kepler SR2 (4.3.2)

eclipse-pmd
1.0.0.201406040523
ch.acanda.eclipse.pmd.feature.feature.group

Steps to reproduce:
- Project > Properties > PMD
  - Enable PMD for this project
  - Add...
    - Workspace, Next >
      - Name: My

[2014-07-05 18:05] #13 closed, assigned to acanda

[2014-07-05 18:08] #12 closed, assigned to acanda

[2014-07-08 18:32] ianbrandt opened #14 "Add context menu to reanalyze after rule set file changes"
It would be nice to have a context menu such as "PMD > Check Code with PMD" that picks up changes to active rule set files and reanalyzes.  For prior art see "Checkstyle > Check Code with Checkstyle" and "Find Bugs > Find Bugs".

It would be great if this supported multiple selections to analyze several projects at once.  A nice-to-have would be for it to work at the package/folder and file levels

[2014-07-10 19:12] ianbrandt opened #15 "java.lang.NoClassDefFoundError: org/apache/commons/lang3/builder/ToStringBuilder"
I'm getting the following when I try to enable the PMD nature on one of the projects in my multi-module maven project:

[code]

I enabled the PMD nature on a smaller "common" module without issue.  I can run `mvn pmd:pmd` on the project in question without issue as well.  My Maven configuration is as follows:

[code]

My pmd.maven.plugin.version = 3.1, and pmd.version = 5.1.1.  I'm referencing the

[2014-07-10 22:09] ianbrandt opened #16 "Build hangs on project with SQL files"
I'm trying to enable the PMD nature on a Maven module project that contains 540 .sql files and 290 .java files.  When I do this Building workspace hangs at 43% on "Setting classpath containers: Invoking 'PMD Builder' on '/db'."  The Eclipse process has the CPU pegged at 700+% (4 cores, hyperthreaded, so 800% is the max).  After running for over an hour the build eventually fails having run out of

[2014-07-13 11:35] #15 closed, assigned to acanda

[2014-07-18 21:22] #16 closed, assigned to acanda

[2014-08-11 18:36] pminearo opened #17 "java.lang.NoClassDefFoundError: net/sf/saxon/trans/XPathException"
I just updated the Eclipse plugin for PMD and am getting errors now:

**Dialog Box:**

[code]

**Error Log:**

[code]

**Eclipse Data:**

[code]

[2014-08-15 15:54] #17 closed, assigned to acanda

[2014-08-25 08:30] charlouze opened #18 "Handling exclude/include-pattern in ruleset files"
I switch to this plugin instead of the official one because it's lighter but also because it seems to handle multiple ruleset files.

The thing is that I use multiple rulseset files to include/exclude specific packages. Could you handle those parameters ?

[2014-08-25 10:10] #18 closed, assigned to acanda

[2014-11-10 21:19] ddekany opened #19 "Add option for marking violations with high enough priority as errors"
Starting from a workspace scope configurable PMD rule priority, the Eclipse marker should be error instead of warning. (Use case: At my current employer SVN will block commits with violations with priority <= 2. Hence, developers should see them as errors in Eclipse. I guess this isn't an uncommon practice, and right now this is why they still stick with the other messy PMD plugin.)

[2015-01-07 06:50] PrabakaranSK opened #20 "Eclipse Luna throws Error: Plug-in "ch.acanda.eclipse.pmd.core" was unable to instantiate class "ch.acanda.eclipse.pmd.builder.PMDBuilder"."
Using Eclipse Marketplace, the "eclipse-pmd" plugin is installed.

The PMD is activated in a project however it throws an exception like below:

[code]

[2015-01-07 18:00] acanda commented on #20
I tried to reproduce this issue but was unsuccessful so far. You could help me identify the cause by telling me which Eclipse version and Java runtime version you are using and on which OS your are running Eclipse.

Please open the dialog "Eclipse Installation Details": Help (menu) > About Eclipse (menu) > Installation Details (button) > Configuration (tab). Then search the following system proper

[2015-01-12 14:19] LarsWH commented on #20
I am seeing something similar on my installation:
* Eclipse: Kepler Service Release 2 Build id: 20140224-0627
* Eclipse PMD Plug-in: 1.4.0.201412211449

Problem is reported in a dialogue box during Eclipse initialisation: Problem Occured: 'Building workspace' has encountered a problem. Errors occured during the build. Error instantiating builder 'ch.acanda.eclipse.pmd.builder.PMDBuilder'. Plug-in

[2015-01-12 20:31] acanda commented on #20
@LarsWH do you happen to have the stack trace of that ExceptionInInitializerError that is thrown during the Eclipse initialization?

[2015-01-13 11:01] LarsWH commented on #20
The stack trace is attached below. FYI: if I replace "Eclipse PMD 1.4" (Market place) with "PMD Eclipse" (http://sourceforge.net/projects/pmd/files/pmd-eclipse/update-site/) the problem goes away. This could perhaps be caused by the fact that the name space indicated within my pmd.xml file is `xmlns="http://pmd.sourceforge.net/ruleset/2.0.0"`?
[code]

[2015-01-13 14:01] acanda commented on #20
@LarsWH Thank you, this helps a lot! Now I know where to look for the problem.

"PMD Eclipse" from sourceforge.net doesn't have this issue because it is an entirely different PMD plugin.

The `xmlns="http://pmd.sourceforge.net/ruleset/2.0.0"` in your pmd.xml is correct and should not be the problem causing this issue.

[2015-01-14 11:35] PrabakaranSK commented on #20
**Eclipse:**
Version: Luna Service Release 1 (4.4.1)
Build id: 20140925-1800

Java runtime version: JDK 1.7.0
OS: Windows 7 64 bit

eclipse.buildId=4.4.1.M20140925-0400
java.vendor=Oracle Corporation
java.version=1.7.0
os.name=Windows 7
os.version=6.1
os.arch=amd64

Tried uninstalling and reinstalling the plugin but didn't help.

-----
**workspace .log file snippet:**

!MESSAGE Plug-in "ch.acanda.

[2015-01-15 22:04] acanda commented on #20
@PrabakaranSK In your case the problem is the rule set with the type "Workspace" and the location ".settings/PA_PMD_Coding_Rules.xml". Rule set locations relative to the workspace have always the name of a project as the first segment. Please disable this invalid configuration in all your projects. This should then remove it all together. Did you create the invalid configuration with the "Add rule

[2015-01-16 16:05] LarsWH commented on #20
**@acanda** Yes, I do indeed have `refcontext="workspace"` and unfortunately an invalid project name too. Correcting the project name made the error message go away. I do not know how my `.eclipse-pmd` file was originally generated.

It seems that switching to `refcontext="project"` and removing the project name from `ref="..."` is the right solution for me. Can you confirm this? Thanks, Lars

[2015-01-16 21:16] acanda commented on #20
The workspace relative paths are meant to be used if several projects in your workspace use the same PMD rule set. This way you only have to maintain one PMD rule set file which can be used by several projects. E.g. if you store the PMD rule set in project `ProjectA` under `config/pmd.xml` you should use `refcontext="workspace"` and `ref="ProjectA/config/pmd.xml"`. If you enable this configuration

[2015-01-16 22:38] LarsWH commented on #20
**@acanda** I have my rule set under revision control within the project tree, so I am probably going for the `refcontext="project"` method. Thanks a lot for taking time to clarify and help out. Kind regards, Lars

[2015-01-19 10:09] PrabakaranSK commented on #20
@acanda After following your instructions, the problem is solved now.  Thanks.

Background:
I have a base project in which the ".eclipse-pmd" is kept with ".settings/PA_PMD_Coding_Rules.xml" with ref as "workspace".  (The idea was to enable developers to use PMD/Checkstyle easily, just by copying this Base project into their workspace and then copying the ".eclipse-pmd" from this base project into

[2015-01-19 14:21] acanda commented on #20
I'm reopening the issue as it still needs to be fixed. To fix this issue the following things need to be done:
- fail gracefully when the .eclipse-pmd file contains an invalid configuration, i.e. ignore the invalid configuration but keep using the remaining working configurations
- mark the invalid configuration in the PMD property page of the project with an error icon
- automatically update work

[2015-02-11 21:12] pminearo opened #21 "Unknown Language 'java' for Rule JumbledIncrementer, supported Languages are"
I just updated Eclipse with the PMD plugin and I get the following error:
Errors occurred during the build.
Errors running builder 'PMD Builder' on project 'etouchpoint-test'.
java.lang.IllegalArgumentException: Unknown Language 'java' for Rule JumbledIncrementer, supported Languages are
Info from the Error Log:
eclipse.buildId=3.6.3.201411281415-RELEASE-e44
java.version=1.8.0_20
java.vendor=Oracl

[2015-02-12 13:46] acanda commented on #21
It seems something went wrong during the update. The easiest solution would be to try to simply uninstall and reinstall eclipse-pmd.

Before you do that you could help me figure out what caused the problem. Please open your "Host OSGI Console" and enter the command `ss ch.acanda`. This should list the currently installed eclipse-pmd plugins and their state. If I do this on my machine it gives me t

[2015-02-12 16:51] pminearo commented on #21
I have installed/unistalled/reinstalled it several times and every time I get the same error.  For this round, I had reverted back to 1.3; and then did an upgrade.  Here is the output when it first starts up:

osgi>  ss ch.acanda
"Framework is launched."

id	State       Bundle
1064	STARTING    ch.acanda.eclipse.pmd.core_1.4.0.201412211449
1065	RESOLVED    ch.acanda.eclipse.pmd.java_1.4.0.201412211

[2015-02-12 16:55] pminearo commented on #21
Also, I just uninstalled it to revert back to version 1.3.  And the 1.4 jar files were still there.  I removed them manually and am reinstalling 1.3.

I forgot to mention, I have even blown away my workspace; and tried to reinstall.  I have, also, removed the eclipse installation and started from scratch with the same result.

[2015-02-12 19:10] acanda commented on #21
The problem is that you have two versions of the same plugins in your plugin folder. I don't know why the old version wasn't removed.

If starting with a completely new Eclipse installation is an option for you then try to install eclipse-pmd from the Eclipse Marketplace. This will install the latest version (currently 1.4.0) directly. You don't have to install version 1.3.0 before 1.4.0.

If you

[2015-02-12 19:14] pminearo commented on #21
I have tried that a few times already.  Still the same result.

[2015-02-13 08:05] acanda commented on #21
I tried to reproduce this issue and there is something wrong with eclipse-pmd 1.4.0. It seems to install only the eclipse-pmd plugins but not the its features on a fresh install. In my case the plugin worked but Eclipse won't remove the plugins when uninstalling eclipse-pmd.

If I installed 1.3.0 first and then updated to 1.4.0 it removed the eclipse-pmd 1.3.0 features, did not remove the 1.3.0 pl

[2015-02-26 19:20] pminearo commented on #21
I manually removed the 1.3 pmd files and left the 1.4 files.  I looked at what is installed and only 1.4 shows up, and still get the same result.

I have, also, gone through the scenario of a fresh install of eclipse and loaded just the 1.4 plugin and still get the same result.

[2015-03-03 21:47] ianbrandt commented on #21
I just updated from 1.2 to 1.4 via the update site, and now I get the same error.  I tried:

1. Adding -clean to my startup
2. Uninstalling the plugin
3. Restarting
4. Installing from the marketplace
5. Restarting again

No change in behavior.  I realized I hadn't removed the PMD update site prior to installing from the marketplace, so I removed the site and repeated the above steps.  I still get

[2015-03-09 23:12] ianbrandt commented on #21
Strike that, the issue is still occurring.  Although seemingly intermittently now, and only for some of the modules that have the PMD nature enabled in my multi-module Maven project.  As best I can recall all my PMD enabled modules would fail prior to my reinstalling from the marketplace as outlined above.

[code]

[2015-03-10 08:31] acanda commented on #21
@ianbrandt Thank you for reporting and helping to fix this issue.

Do you mean it works for some modules while it doesn't work for other modules at the same time or it works for all modules until you restart Eclipse and then it does not work for any modules?

Until this issue is fixed you could go back to an earlier version of eclipse-pmd by useing the update site http://www.acanda.ch/eclipse-pmd/

[2015-03-10 15:43] pminearo commented on #21
I have an update.  I downloaded the latest version of Eclipse (Version: Luna Service Release 2 (4.4.2) Build id: 20150219-0600) , installed the latest PMD plugin, and imported our code base into the workspace.  I have yet to see any PMD errors.

Originally, I was using STS (Spring Tool Suite: https://spring.io/tools ) which is built on top of Eclipse (not sure of the version, though).  From this o

[2015-03-10 18:50] ianbrandt commented on #21
@acanda:

* If I start STS and do a "Project > Clean > Clean all projects..." I do now get the error for every module that has the PMD nature enabled.
* If I open a Java file that has a PMD marker and make a trivial change unrelated to the marker I get the error.
* If I open a Java file without any PMD markers in the same module and make a similar trivial change I get the error.

So now I'm a bit

[2015-03-13 17:09] pminearo commented on #21
I just got the same JumbledIncrementer error with Eclipse Luna.  If you compare the stack traces, you will see slightly different line numbers.

osgi> ss ch.acanda
"Framework is launched."

id	State       Bundle
843	ACTIVE      ch.acanda.eclipse.pmd.core_1.4.0.201412211449
844	RESOLVED    ch.acanda.eclipse.pmd.java_1.4.0.201412211449
845	RESOLVED    ch.acanda.eclipse.pmd.lib_1.4.0.201412211449
846

[2015-03-16 21:39] acanda commented on #21
I might have found the source of the problem. It involves OSGi ClassLoaders, the Java Service Provider Interface, PMD's internal language handler cache and when exactly Eclipse or STS tries to run PMD the first time after start up.
The fix for this is available at the Eclipse update site `http://www.acanda.ch/eclipse-pmd/preview/issue21`. It doesn't matter whether you have eclipse-pmd already inst

[2015-03-16 23:20] ianbrandt commented on #21
@acanda: Coincidentally I was right in the middle of a fresh install of the new 3.6.4 version of STS when I saw your latest update.  I installed eclipse-pmd from the "issue21" update site instead of the regular one.  This was the first eclipse-pmd install into this new STS installation and fresh workspace.  I imported my projects, and the initial PMD build completed without error.  I then ran "Cle

[2015-03-19 20:22] acanda commented on #21
I released eclipse-pmd 1.4.1 with the fix for this issue and am therefore closing it now. If any of you have still the same problems with 1.4.1 then feel free to add a comment and reopen the issue. Thanks everyone for helping me tracking down this gnarly bug!

[2015-03-19 20:22] #21 closed

[2015-03-29 05:20] PrabakaranSK opened #22 "Support for custom PMD rules (JAR)"
Hi,

Couldn't see any documentation about how to associate a Custom PMD Rules JAR in eclipse-pmd plugin.

The Custom JAR has the following layout:

    custompmd.jar:
        ├─ META-INF
        │       └─ MANIFEST.MF
        ├─ com
            └─ pmd
                └─ custom
                       └─ AvoidHardcodingRule.class
(The `AvoidHardcodingRule` class extends `AbstractJavaRule`)

[2015-04-05 19:21] acanda commented on #22
You can use your custom rule classes if you add your jar as an Eclipse plug-in fragment to your Eclipse installation. The host of the plug-in fragment must be `ch.acanda.eclipse.pmd.core`.

To convert the jar to a plug-in fragment you have to modify the file `MANIFEST.MF` file and add a few manifest headers. The following is a complete manifest of an Eclipse plug-in fragment:

[code]
 You can choo

[2015-04-07 05:13] PrabakaranSK commented on #22
@acanda - It worked.  Thanks a lot for prompt reply.

[2015-04-07 05:13] #22 closed

[2015-05-04 21:19] lkrnac opened #23 "FEATURE REQUEST: Enable ruleset for all projects"
I would like to have option to enable ruleset for all projects. Also for all projects in particular Working set (not sure if this is possible at all).

[2015-05-04 21:20] lkrnac opened #24 "FEATURE REQUEST: Enable ruleset for new projects by default"
I would like to have option to enable ruleset for all new created/imported projects.

[2015-05-22 23:33] jamcole opened #25 "False positives for FieldDeclarationsShouldBeAtStartOfClass when using annotations"
Pretty much seeing the same behavior in Eclipse as described in this parent PMD bug: http://sourceforge.net/p/pmd/bugs/1354/

Oddly enough, this doesn't affect the maven-pmd-plugin (version 3.4 which uses pmd 5.2.3).

I am using the eclipse-pmd plugin from the Eclipse Marketplace version 1.4

[2015-05-23 10:19] acanda commented on #25
This bug has been fixed in PMD 5.2.3 which was released yesterday. The eclipse-pmd plugin 1.4 uses an older version of PMD which is still affected this bug. I just released eclipse-pmd 1.5 which uses the latest PMD. All you have to do is check for updates (`Help` > `Check for Updates`) and the new version of eclipse-pmd should be installed.

[2015-05-23 10:28] acanda commented on #20
I released eclipse-pmd 1.5 which fails gracefully when the .eclipse-pmd file contains an invalid configuration and marks it in the PMD property page with an error icon.
Automatically updating the workspace relative configuration when a project name changes will come in a later release.

[2015-06-30 10:54] neelu-sarkar commented on #25
Just upgraded to Eclipse Mars and I'm seeing this issue with v1.5.0.201505230804 of the plugin.

Any ideas?

[2015-07-01 07:13] acanda commented on #25
@neelu-sarkar: try to clean and build the affected Eclispe projects. Eclipse stores the PMD warnings and if you just upgraded from eclipse-pmd 1.4 to 1.5 then you might still have the PMD warnings generated by eclipse-pmd 1.4. Cleaning and building the projects will trigger a new PMD analysis with eclipse-pmd 1.5.

If you still have the warnings after cleaning and building then please run PMD 5.3.

[2015-07-01 10:59] neelu-sarkar commented on #25
@acanda
I've tried clean and build a few times already with no luck. PMD running from maven / command line is fine.

I've only had v1.5 of the plugin installed in Mars but workspace I was using was an upgraded Luna one, so I've just tried creating a new Mars workspace and importing the same projects and the pmd warnings no longer appear so happy just to carry on with that.

Maybe something in the

[2015-07-01 11:56] jeffjensen commented on #25
I'm seeing the same issue with Luna.  Maven PMD doesn't flag it but Eclipse
does.

For us, it will only happen in some Entity classes on some instance
variables with at least 2 annotations.

On Wed, Jul 1, 2015 at 5:59 AM, Neelu Sarkar <notifications@github.com>
wrote:

[2015-07-02 14:02] neelu-sarkar commented on #25
@jeffjensen

Seeing the same thing - my new Mars workspace has started reporting the PMD violations again :(

[2015-07-02 14:21] neelu-sarkar commented on #25
@acanda

I just looked inside ch.acanda.eclipse.pmd.core_1.5.0.201505230804.jar and it's using PMD 5.3.2.

I guess I'll need to wait until the plugin is updated to use 5.3.3?

The related PMD bug was only fixed in this version:
http://sourceforge.net/p/pmd/bugs/1364/

Cheers
(Thanks for the plugin btw!)

[2015-07-02 16:44] acanda commented on #25
@neelu-sarkar @jeffjensen
Thank you for clarifying - this is a different bug than the one originally reported. Your bug has been fixed and will most likely be part of the not yet released PMD 5.3.3. I will release a new version of eclipse-pmd as soon as PMD 5.3.3 is officially available.

[2015-07-02 17:22] jeffjensen commented on #25
Nice, thanks for letting us know Philip!

On Thu, Jul 2, 2015 at 11:44 AM, Philip Graf <notifications@github.com>
wrote:

[2015-07-10 04:51] PrabakaranSK opened #26 "CRITICAL: Update Site link is not accessible: http://www.acanda.ch/eclipse-pmd/release/latest/"
When dragged the "Install" button to Eclipse, Eclipse Marketplace shows error "No repository found at http://www.acanda.ch/eclipse-pmd/release/latest.".

Seems like the link is either down or having some permission issues.

[2015-07-10 17:11] acanda commented on #26
I just tried dragging the "Install" button and it worked. My server logs show that the update site is and was up and running too. Do you need a proxy to access the internet? If so can you check if the proxy is  configured correctly in Eclipse?
Also note that you will get a "Permission denied" message when you try to access the update site with a browser as there is no website at that URL. You shou

[2015-07-17 14:19] shimikano opened #27 "Classpath based ruleset resolution"
Hello

Is it currently possible to reference a `ruleset.xml` file that resides in the *classpath* of the target project?

E.g., some `rulset.xml` file that is shipped with a maven dependency that the project depends upon?

This would help us centralize the rule sets, since our maven PMD analysis runs are based on such "classpath based rulesets".

What do you think?

Thanks a lot.

[2015-07-21 07:09] acanda commented on #27
It's currently not possible to to reference a `ruleset.xml` that resides in the classpath.

However, if the source of your PMD maven module is in a SCM which exposes its files over http you can use a remote rule set configuration which references a rules via an URL. Since the URL can be anything Java can resolve it is also possible to use the [jar protocol](https://docs.oracle.com/javase/7/docs/ap

[2015-07-21 07:10] #26 closed

[2015-07-21 08:04] shimikano commented on #27
Thanks a lot for your feedback!

Basically, in an experimental fashion, we put our global `ruleset.xml` in a jar artifact and reference it like this in the `pom.xml` of a project:
[code]
But come to think of it, an HTTP access to the SCM - as you suggest - seems much more straight-forward and easy to integrate. So, we're gonna try going down that road and you might as well close this issue.

BTW,

[2015-07-22 07:06] acanda commented on #27
It's one of my goals to have a single source of truth for the rule set file so you can use the same file wherever you run PMD (Eclipse, Maven, ...). I'm always interested to learn how other teams are using PMD and if eclipse-pmd is standing in the way of having a single file for everything then I'm happy to resolve the issue.

I'm glad to hear you like eclipse-pmd, especially since integration and

[2015-07-22 07:06] #27 closed

[2015-07-26 17:00] acanda commented on #25
PMD 5.3.3 has been released with a fix for [PMD bug 1364](http://sourceforge.net/p/pmd/bugs/1364/) so I released eclipse-pmd 1.6 with PMD 5.3.3. Enjoy!

[2015-07-26 17:00] #25 closed

[2015-07-28 12:52] Maze-fr opened #28 "Zipped update site"
Hello,

I work in a company where the firewall is not very permissive, so when I try to install or to update eclipse-pmd, I got error messages...
Could it be possible to have an update site zip so we could use it to install eclipse-pmd ?

[2015-07-29 07:37] acanda commented on #28
I created a zipped update site for offline installation: https://github.com/acanda/eclipse-pmd/releases/tag/Release_1.6. Let me know if this works for you.

[2015-07-29 08:11] Maze-fr commented on #28
It works wonderful.
Great thanks to you for doing it so quickly.

[2015-07-29 08:11] #28 closed

[2015-09-23 15:20] dnwe opened #29 "Wishlist: Support for CPD Copy/Paste Detector"
Essentially, running of [cpd](http://pmd.sourceforge.net/pmd-4.3.0/cpd.html) and parsing the output into IMarker warnings

[2015-10-14 12:15] bryanschofield opened #30 "Eclipse update site is not available"
Eclipse update site is not available: http://www.acanda.ch/eclipse-pmd/release/latest

    Forbidden
    You do not have permission to access this document.

    Web Server at test.skeleton

http://www.acanda.ch simply displays a single | character

[2015-10-14 16:34] acanda commented on #30
Please have a look at issue #26. Does this help with your problem?

[2015-10-29 11:34] bryanschofield commented on #30
No luck.
I do have to access the internet using a corporate proxy.
Proxy is configured correctly, every other plugin I've installed has worked fine.
I am able to download the artifacts.jar by hand.

[2015-10-29 11:44] acanda commented on #30
Are you trying to install the plugin using the marketplace integrated in Eclipse (`Help` > `Eclipse Marketplace...`), via drag&drop from the website or do you directly enter the update site URL (`Help` -> `Install New Software...`)?

[2015-10-29 11:46] bryanschofield commented on #30
I've tried both methods

[2015-10-29 11:51] acanda commented on #30
Could you check if the Eclipse log file gives any hints at why it's not working? You'll find it at `[your-workspace]/.metadata/.log`.

[2015-10-29 11:53] bryanschofield commented on #30
Eclipse appears to be able to access the content.jar, but fails to read .../release/latest

    Server returned lastModified <= 0 for http://www.acanda.ch/eclipse-pmd/release/latest/content.jar
    Unable to read repository at http://www.acanda.ch/eclipse-pmd/release/latest.

[2015-10-29 12:02] acanda commented on #30
Which version of Eclipse are you using?

[2015-10-29 12:03] bryanschofield commented on #30
Version: Mars Release (4.5.0)
Build id: 20150621-1200

[2015-10-29 12:26] bryanschofield commented on #30
I just noticed this page: https://github.com/acanda/eclipse-pmd/releases
I'll install it by hand!

[2015-10-29 12:28] acanda commented on #30
It's hard to tell what the problem is since I can't reproduce it. The only thing I currently can come up with is that something went wrong the first time your proxy tried to download content.jar resulting in a corrupt file which is now cached in your proxy.

You could try the update site `http://www.acanda.ch/eclipse-pmd/release/1.6`. This is the exact same thing as `http://www.acanda.ch/eclipse-p

[2015-11-09 17:39] Kurt-E-Clothier opened #31 "Installation Error - Eclipse Mars"
When trying to install eclipse-pmd, I get the following error:

This same problem occurs when drag-drop installing from the Eclipse Marketplace or going through *Help > Install New Software*

Eclipse Info:
- Eclipse IDE for Java Developers
- Version: Mars.1 Release (4.5.1)
- Build id: 20150924-1200

[2015-11-11 11:06] acanda commented on #31
Unfortunately I can't reproduce this issue. Are you using a proxy? The only thing I currently can come up with is that something went wrong the first time your proxy tried to download content.jar resulting in a corrupt file which is now cached in your proxy.

You could try the update site `http://www.acanda.ch/eclipse-pmd/release/1.7`. This is the exact same thing as `http://www.acanda.ch/eclipse-

[2015-11-12 21:58] Kurt-E-Clothier commented on #31
Thank you for the help. I was able to download the JAR. Can that be put directly in the Eclipse "dropins" directory? I will hang on to that for now, in case I have issues in the future.

 I am using Google Chrome, no Proxy. I was tethering over USB for internet from my phone, switched to mobile hotspot, and it still didn't work. I uninstalled and reinstalled Eclipse a few times using the OOmph ins

[2015-11-12 21:58] #31 closed

[2015-12-05 12:11] cheppsn opened #32 "BUG: Rule.start() is not called before Rule.apply()"
I've written a couple of rules that perform some setup and statistics/teardown in their `start()` and `end()` methods, respectively.

When I wrote an Eclipse Fragment to integrate them with the Acanda PMD-Plugin, I noted that neiter `start()` nor `end()` is called before calling `Rule.apply()` (as [promised by the `Rule` interface](https://github.com/pmd/pmd/blob/39d77e849aac127cb9ccf428a0b4850c1f

[2015-12-05 15:48] acanda commented on #32
Thank you for finding that bug and taking the time to find out how it's done right. The fix for this issue will be in eclipse-pmd 1.8.

[2015-12-05 15:48] #32 closed

[2015-12-05 16:27] cheppsn commented on #32
Already fixed! Thanks! Can I pull/build a SNAPSHOT version of the plugin from somewhere until you release?

[2015-12-05 17:00] acanda commented on #32
You can use the update site http://www.acanda.ch/eclipse-pmd/preview/issue32. Compared to eclipse-pmd 1.7.0 this contains the fix for this issue and the latest version of PMD (5.4.1).

[2015-12-05 21:41] cheppsn commented on #32
Great, works as expected now.

[2015-12-06 23:39] nullterminated opened #33 "eclipse-pmd plugin is unsigned"
The eclipse-pmd plugin needs to be signed.

![pmd](https://cloud.githubusercontent.com/assets/690605/11616416/d8d1f536-9c37-11e5-845c-1850dc5461ed.jpg)

[2015-12-07 09:21] acanda commented on #33
Is this more a nuisance or does it prevent installing the plugin?

[2015-12-08 03:43] nullterminated commented on #33
In a secure environment it prevents install. After XCodeGhost happened, I'm trying to get a secure development environment set up. Your plugin is a must have :) I realize there is some cost in doing code signing. So far, the best pricing I've found is:

http://www.lindersoft.com/order_codesigning.htm

or

http://codesigning.ksoftware.net/

As an alternative, I've figured out how to build from sour

[2015-12-09 14:42] phcouton opened #34 "PMD analyzes files located outside of the source directories"
I a have a lot of project having directories containing java files, but these directories are not configured in Eclipse to be source directories for the project. So, the files in these directories are not compiled (and sometimes these files does not compile at all).

However, PMD analyzes theses files anyway, giving several hundred of warnings for things which must be ignored.

[2015-12-09 14:55] phcouton opened #35 "PMD should not analyze derived files"
Often the code generated by tools if far from being clean code. Analyzing such code generates a lot of PMD warnings. In one of my projects, I have a directory of java files generated by a Corba compiler: those files are analyzed by PMD, which reports nearly 500 warnings.

Eclipse has, in the properties of a source directory, some attributes which should set by a developer to give some hints to cod

[2015-12-09 20:08] acanda commented on #34
The plug-in cannot ignore the files outside of the source directories by default as PMD can also analyse files that are typically not in source directories (e.g. xml files). You can however make eclipse-pmd ignore those files by [excluding them in your rule set configuration](https://pmd.github.io/pmd-5.4.1/customizing/howtomakearuleset.html#Excluding_files_from_a_ruleset).

[2015-12-09 20:16] acanda commented on #35
The plug-in already ignores files with the "derived" flag (it'd be a bug if it does not). If your code generator does not set the "derived" flag then it's also possible to [exclude those files in your rule set configuration](https://pmd.github.io/pmd-5.4.1/customizing/howtomakearuleset.html#Excluding_files_from_a_ruleset).

[2015-12-09 20:43] acanda commented on #33
Signing the plug-in is on my todo list, although with a very low priority. For now you have to build it yourself.
But you're right that there should be a brief explanation so everyone knows how to build the plug-in.

[2015-12-09 20:44] #30 closed

[2015-12-10 10:53] phcouton commented on #34
I didn't known this possibility, thanks for the hint :) That said, it is not as easy as it seems to use it.

Let me explain:
* we have only one ruleset, which is shared between many projets and shared between many developpers.
* my first idea was to, in an Eclipse project, use two rulesets: the shared one and a one local to the project for the exclusions: it does not work. I think that there is a

[2015-12-10 11:05] phcouton commented on #35
As you can see on the capture below, there is strange behavior of Eclipse:
* The source directory `pub/generated-sources/idl` contains generated code with warnings. Since it is tagged `derived`, no warnings are shown on it;
* however, the directories hierarchy is show in the Eclipse explorer, but with the warning icon on the parent directories (`pub` and `pub/generated-sources`), which are not use

[2015-12-20 10:14] acanda commented on #35
The plug-in only ignores files that are themselves marked as derived. It is not sufficient if they just have a derived ancestor directory.
I could change this so the plug-in also ignores files that are not marked as derived themselves but have a derived ancestor directory.

[2015-12-20 16:13] acanda commented on #34
The idea behind eclipse-pmd is that you use the same configuration for everything (IDE, build tool, CI) so you don't have any "it worked on my machine" moments.

Your first idea won't work because there is an OR between the two ruleset (as you correctly guessed).

Your second idea however might work if you put an URL into the `href` attribute. I'm not sure if a relative `file:` URL would work but

[2015-12-23 17:45] phcouton commented on #34
It works for me with the `ref` attribute, and it is good to see that it works with every tool. So, I will close this ticket.

I didn't checked with a relative file path, no news to add on this subject...

[2015-12-23 17:45] #34 closed

[2016-03-23 08:54] slaout commented on #5
This has the disadvantage that Eclipse does not report any unsupported token at all!

There is a bug report on Eclipse project: feel free to support this issue: bugs.eclipse.org/bugs/show_bug.cgi?id=392045

[2016-03-23 09:46] acanda commented on #5
There's also a much older issue on the Eclipse project for the same thing: https://bugs.eclipse.org/bugs/show_bug.cgi?id=122475
Feel free to support this issue as well.

[2016-04-25 17:41] rsandidfc commented on #20
I've just installed PMD for the first time, and on launching Eclipse am immediately presented with:

Errors occurred during the build.
Error instantiating builder 'ch.acanda.eclipse.pmd.builder.PMDBuilder'.
Plug-in ch.acanda.eclipse.pmd.core was unable to load class ch.acanda.eclipse.pmd.builder.PMDBuilder.
An error occurred while automatically activating bundle ch.acanda.eclipse.pmd.core (1671).

[2016-04-25 20:40] acanda commented on #20
@rsandidfc Did you rename a project or manually edit the .eclipse-pmd file?

[2016-04-25 20:58] acanda opened #36 "An error occurred while automatically activating bundle ch.acanda.eclipse.pmd.core"
Submitted by @rsandidfc in another issue:

I've just installed PMD for the first time, and on launching Eclipse am immediately presented with:

Errors occurred during the build.
Error instantiating builder 'ch.acanda.eclipse.pmd.builder.PMDBuilder'.
Plug-in ch.acanda.eclipse.pmd.core was unable to load class ch.acanda.eclipse.pmd.builder.PMDBuilder.
An error occurred while automatically activating

[2016-04-25 21:07] acanda commented on #36
I noticed you installed two different PMD plugins: eclipse-pmd and PMD for Eclipse.
PMD for Eclipse uses an older version of PMD which seems to cause trouble with eclipse-pmd.
If you uninstall PMD for Eclipse then this problem should go away.

You can uninstall PMD for Eclipse select "Help > About Eclipse" (Windows) or "Eclipse > About Eclipse" (Mac), then click the button "Installation Details".

[2016-04-25 21:10] acanda commented on #20
@rsandidfc I could reproduce your problem. I opened a new issue for this since it is not the same problem as this issue. Please see issue #36.

[2016-04-26 01:05] rsandidfc commented on #36
Hi - yes de-installing the PMD for Eclipse removes that exception - I removed both PMD for Eclipse and eclipse-pmd, then I re-added eclipse-pmd. Now I'm in a state where if I try to enable any project in the workspace with PMD, I'm unable to add any rulesets. I've tried every workspace, project, filesystem, nothing works. The dialog always says that the ruleset at whichever location is invalid and

[2016-04-26 04:24] acanda commented on #36
You have to create a rule set (pmd.xml) yourself. The PMD website has a page explaining [how to make a new rule set](https://pmd.github.io/pmd-5.4.1/customizing/howtomakearuleset.html). The eclipse-pmd website has step by step instructions of [how to set up PMD in Eclipse](https://acanda.github.io/eclipse-pmd/getting-started.html) once you have created the rule set.

[2016-05-12 06:31] #36 closed

[2016-06-24 07:41] akarnokd opened #37 "Eclipse Neon (4.6) install through marked but nothing shows up"
I've installed the plugin through the Eclipse Market but neither the preferences, nor any context menu shows any PMD-related points. The error log doesn't reference anything related to this. Should the plugin work for 4.6?

[2016-06-25 14:00] acanda commented on #37
The plug-in works with Eclipse Neon. You can [set up PMD in the project properties](http://acanda.github.io/eclipse-pmd/getting-started.html). Let me know if you find the PMD property page there.

[2016-06-25 19:34] #35 closed

[2016-07-07 20:00] vorburger opened #38 "Diff to pmd/pmd-eclipse-plugin"
Hoi (Salut?),

Upon searching around where to [file some bug](for https://sourceforge.net/p/pmd/bugs/1503/) in the "PMD Eclipse plugin", I just realized that there are two different ones, this VS https://github.com/pmd/pmd-eclipse-plugin!  I would not have thought that this world is big enough for two people writing separate Eclipse plugins for a code quality tool ... ;-)

Would you perhaps like t

[2016-07-14 20:51] acanda commented on #38
Hi Michael!

I started eclipse-pmd a couple of years ago because I wanted a PMD Plugin that was easy to use for development teams and "PMD Eclipse Plugin" made it quite hard to keep the PMD configuration in sync within a team (I don't know if that is still the case since I haven't used the "PMD Eclipse Plugin" for years).

I designed eclipse-pmd so it is really easy to have only a single source fo

[2016-07-14 20:53] #37 closed

[2016-07-25 03:32] vorburger commented on #38
How do you find the configuration? In a big project with many modules (i.e. Maven projects), just checking in the root of the respective Eclipse projects isn't viable, and you have to be able to share such configurations somehow. Maven parent pom.xml are one way to do this in a big code base of course.

That's nice!

Sure...  https://github.com/m2e-code-quality/m2e-code-quality/issues/96 ;-)

[2016-07-25 06:21] acanda commented on #38
Regarding the configuration, I usually put it in the same place as the parent pom. In a simple single pom project I put it in a config folder. But you are free to put it wherever you think it fits best as eclipse-pmd can be configured accordingly.

[2016-09-08 21:31] malnormalulo opened #39 "Improve ruleset feedback"
AddRuleSetConfigurationModel.validateLocation() gags all exceptions when parsing the ruleset and simply displays the static message "The rule set configuration at the given location is invalid". It would be helpful if it gave some indication of what the problem was.

[2016-09-09 06:59] acanda commented on #39
Good point. I'll see what I can do.

[2016-10-07 12:43] srinivas-os opened #40 "Remote ruleset: rules caching/refresh frequency?"
In case of remote ruleset, does this plugin cache the downloaded PMD rules locally?

If so, for what duration, and what is the cache refresh frequency?

Or is it a one-time download of the rules? (I don't think this is the case as per docs)

[2016-10-07 15:33] acanda commented on #40
Remote rulesets are cached locally and are refreshed every hour.
Note that a remote ruleset cannot be used to work off-line (for more than an hour) as the cached ruleset is not persistent and expires after an hour.

[2016-10-07 15:35] #38 closed

[2016-10-11 17:21] srinivas-os commented on #40
Thanks for the clarification, closing this.

[2016-10-11 17:21] #40 closed

[2016-12-15 13:48] acanda opened #41 "Automatically update workspace relative configurations when the project name changes"
Automatically update workspace relative configurations when the project name changes, e.g. when renaming the project that contains the rule set file.

This enhancement is a leftover of issue #20.

[2016-12-15 13:51] acanda commented on #20
I'm closing this issue as the following bugs have been fixed:
- fail gracefully when the .eclipse-pmd file contains an invalid configuration, i.e. ignore the invalid configuration but keep using the remaining working configurations
- mark the invalid configuration in the PMD property page of the project with an error icon

For the remaining enhancement i opened a issue #41:
- automatically update

[2016-12-15 13:51] #20 closed

[2016-12-15 14:03] acanda commented on #39
After looking into the issue I found that the static message is probably the best that can be done. The problem is that I let PMD parse the configuration file and either get a RuleSet if it was valid or an Exception if it was invalid. The Exception can be anything from a NullPointer to an ArrayIndexOutOfBoundException or any of the many exception you can get from the XML parser.

Just displaying t

[2017-01-03 17:35] zhuker opened #42 "The rule set configuration at the given location is invalid"
even on default ruleset
[code]
i get `The rule set configuration at the given location is invalid` message when trying to add the ruleset
![screen shot 2017-01-03 at 7 35 30 pm](https://cloud.githubusercontent.com/assets/4367682/21616827/cee91a78-d1eb-11e6-898d-fb0c0d749ac3.jpg)

[2017-01-05 14:58] acanda commented on #42
This error message shows up when your ruleset file is not proper xml, doesn't validate against the PMD ruleset schema or contains invalid rule names (usually typos).

If you validate the ruleset you provided against the ruleset schema you will get the following error:
[code]
This means that you need to add at least one `rule` tag. I recommend that you open and edit the ruleset file with Eclipse's

[2017-01-05 16:51] zhuker commented on #42
should any of these work?
http://pmd.sourceforge.net/pmd-4.3.0/howtomakearuleset.html

[2017-01-05 16:53] zhuker commented on #42
maybe these
http://pmd.sourceforge.net/pmd-5.1.1/howtomakearuleset.html

[2017-01-05 17:00] zhuker commented on #42
I validated the ruleset but it still doesn't get imported by the plugin
do you have an example ruleset that works for you?
![screen shot 2017-01-05 at 6 57 55 pm](https://cloud.githubusercontent.com/assets/4367682/21689463/0edfc314-d379-11e6-9cc1-f001f0c17052.jpg)

![screen shot 2017-01-05 at 6 58 48 pm](https://cloud.githubusercontent.com/assets/4367682/21689462/0ed26e94-d379-11e6-9399-a8986169eb

[2017-01-05 17:00] acanda commented on #42
The rulesets from PMD 4.x do not work while those from PMD 5.x should work.

PMD changed the naming of the rules a bit from version 4.x to 5.x. What used to be e.g. `rulesets/imports.xml/DuplicateImports` is now `rulesets/java/imports.xml/DuplicateImports` (note the `java`). They also renamed or even removed a few rules.

[2017-01-05 17:01] zhuker commented on #42
tried both 5x and 4x - no luck
do you have an example ruleset that works for you?

[2017-01-05 17:03] acanda commented on #42
The rulesets I use for eclipse-pmd itself work for me. See pmd-*.xml in https://github.com/acanda/eclipse-pmd/blob/master/ch.acanda.eclipse.pmd/ e.g. https://github.com/acanda/eclipse-pmd/blob/master/ch.acanda.eclipse.pmd/pmd-base.xml.

[2017-01-05 17:10] zhuker commented on #42
Thanks! it got imported!
This error messages most likely means java8 syntax support is not setup somewhere right?
![screen shot 2017-01-05 at 7 09 05 pm](https://cloud.githubusercontent.com/assets/4367682/21689855/8cf7af86-d37a-11e6-83fe-13bd90945675.jpg)

[2017-01-05 22:21] acanda commented on #42
This is PMD telling you that it cannot parse the File TimePickerTest.java and therefore will not find any PMD issues. This usually happens when the file contains code that does not compile.

You don't have to turn on Java 8 support in PMD somewhere as it always uses a Java 8 parser to analyse the code.

Does the code in TimePickerTest.java compile? If not then this log entry will disappear when yo

[2017-01-26 15:03] acanda commented on #19
In my opinion PMD issues are warnings not errors. Errors prevent an application from working correctly, e.g. compile errors or bugs. PMD finds design issues which make the code more complicated than necessary or harder to extend in the future. Even if you do not fix the PMD issues right away your application will most likely run and work correctly.

This is my opinion of course and is the reason w

[2017-01-26 15:19] petehayes commented on #19
The [PMD page on the severity levels](https://pmd.github.io/pmd-5.3.3/customizing/rule-guidelines.html) indicates that level 1 is to be used to indicate critical  broken / buggy code so it wouldn't be unusual, I think, to flag these at the error level instead of warning.  In terms of a pull request, I would think we'd need to retain current behavior but add a maximum severity level that should be

[2017-01-26 15:38] #42 closed

[2017-02-07 03:40] mefly2012 commented on #37
thanks! It resolve my problem.

[2017-03-03 14:28] slava-v opened #49 "Eclipse PDT. Cannot change PMD nature of project <projectName>"
I can't enable and use PMD for my php project in Eclipse PDT.

Error StackTrace is attached.

My `ruleset.xml` file:
[code]

[code]

Session Data

[code]

[2017-03-05 20:00] acanda commented on #49
The project must be a Java project (i.e. have the Java nature). This is a leftover from when PMD was Java only. It's probably time to cut this dependency. You can try to [add the Java nature](http://mascarenhas.us/blog/2010/06/04/eclipse-tip-adding-java-nature-to-an-existing-eclipse-project/) to you project.

Just out of curiosity: does that rule work? PMD claims that it supports only CPD for PHP.

[2017-03-06 07:02] slava-v commented on #49
I guess you're right about PMD support for PHP.

I added _Java nature_ to project. And tried to re-Apply PMD rules to project, but I got an exception saying:

[code]

Judging by Laguage module source code `net.sourceforge.pmd.lang.php.PhpLanguageModule`, I see that php language is defined, but has no RuleChainVisitor class (as error says ) compared to java language module.

That's unfortunate... I

[2017-03-06 07:27] #49 closed

[2017-03-06 13:14] gayanper commented on #29
Any work on-going on this enhancement ?

[2017-03-06 21:46] acanda commented on #29
No, not currently.

[2017-04-24 21:11] arend-von-reinersdorff commented on #24
What I would really like for this issue and #23 would be a way to set a global default ruleset for all projects. Which could be overridden in project specific settings.
This is how the Eclipse FindBugs and Checkstyle plugins work.

[2017-05-04 12:33] lukedirtwalker opened #51 "New releases"
Hi,

Great Plugin. I saw that the last release was at the end of 2015 with PMD 5.4.1.
But in the git history you updated to newer PMD versions.
Is there any reason why you don't do any releases anymore?

Cheers,
Lukas

[2017-05-11 15:55] acanda commented on #51
Hi Lukas

Updating the version number of PMD is the easy task – testing if it still works is a different issue. I learned that even if all the automated unit and integration tests work, using the plugin in a real life environment with a lot of other plugins can lead to unpredictable problems. I usually tested a new version by using it myself for a week or so at work.

At the end of 2015 I switched

[2017-05-11 19:57] lukedirtwalker commented on #51
Hi,

Sure I would love to try it out. I use Java and eclipse-pmd everyday.
Thanks a lot for your suggestion.

Cheers,
Lukas

[2017-05-14 08:32] acanda opened #52 "Release 1.9"
The 1.9 release of eclipse-pmd is long overdue. If you want to help test the new version (@lukedirtwalker, @sratz), here is what you can do.

Install eclipse-pmd from the update site http://www.acanda.ch/eclipse-pmd/beta/1.9 (Help > Install New Software... > paste the URL into "Work with" > select everything from eclipse-pmd > Finish).

Now all you have to do is use the plugin for a week to see if

[2017-05-14 08:41] acanda commented on #51
Thanks for your help. I opened a new issue for testing the release 1.9: #52

[2017-05-15 15:28] neelu-sarkar commented on #52
Hi @acanda

I'm goint to install and help out with the testing too.

Would be great to get the new version released for our project!

Neelu

[2017-05-15 20:10] lukedirtwalker commented on #52
Thanks,

Installed it today. Seems to work so far.

Cheers,
Lukas

[2017-05-16 04:31] acanda commented on #52
Thank you all for helping!

[2017-05-17 09:13] neelu-sarkar commented on #52
We've got a reasonable amount of custom rules and exclusions and no problems so far either.

[2017-05-21 09:05] acanda commented on #52
Just as I wanted to do the release I noticed that a new version of PMD has been release. So I updated the beta version of eclipse-pmd 1.9. If you want to help testing the new beta then you just have to let Eclipse check for new updates and it will be installed (assuming you have already used the update site for this beta).

[2017-05-29 04:47] acanda commented on #52
Did anyone update and use the beta with the new version of PMD?

[2017-05-29 07:05] lukedirtwalker commented on #52
Yes, I Updated as soon as you said to. No problems as with the previous
version.

Thanks,
Lukas

On Mon, May 29, 2017 at 6:47 AM, Philip Graf <notifications@github.com>
wrote:

[2017-05-29 07:49] neelu-sarkar commented on #52
Yeah - I've been using it and no problems so far.

[2017-05-29 18:26] acanda commented on #52
I just released eclipse-pmd 1.9. Thanks for all your help!

[2017-05-29 18:27] #52 closed

[2017-05-29 18:27] #51 closed

[2017-11-15 10:51] demonfiddler opened #53 "XML parsing problem in Eclipse Oxygen"
Running on Eclipse Oxygen.1A, I'm seeing entries like this in the Error Log:
Could not run PMD on file C:/source/workspaces/pmd-test/maven-experiments/target/surefire-reports/TEST-my.experiments.test.TestMyArrayList.xml
net.sourceforge.pmd.PMDException: Error while processing TEST-my.experiments.test.TestMyArrayList.xml
	at net.sourceforge.pmd.SourceCodeProcessor.processSourceCode(SourceCodeProces

[2017-11-15 13:04] acanda commented on #53
I've come across this problems a couple of times in the past years but could never reliably reproduce it. It seems to be a class loader issue and might depend on the order in which the Eclipse plugins are activated or used.

What I know is that PMD uses Proxy.newProxyInstance(classloader, interfaces, ..) to create an XmlNode when parsing XML files. The list of interfaces sometimes contains interfa

[2018-05-10 18:15] willianconsta opened #54 "NoClassDefFoundError with version 1.12 in Eclipse Photon"
I updated the plugin to the last available version (1.12.0.201804292018) in an Eclipse Photon installation  (4.8.0.I20180417-2000) and started seeing the following error whenever I save a file:

[2018-08-04 07:35] xlmkjd opened #55 "help~ pmd can not find my enum class"
i write a custom rule to ensure enum equals use "==",  so first of all ,i have to identify which class is enum in my project.    i use "name.getType().isEnum() " to do it.    but is not effective.

the reason maybe  The class not loaded.  so i want to asking ,  pmd has a auxclasspath configuration,  how do i configure in my project.

thank you

[2018-08-05 12:10] acanda commented on #55
It is currently not possible to set the auxclasspath.

[2018-08-06 01:48] xlmkjd commented on #55
Is there a plan to support ?

[2018-08-09 06:58] xlmkjd opened #56 "eclipse-pmd 1.14 depends on pmd 6.6.0 and asm 6.1.1, but pmd 6.6.0 depends on asm 6.2"
eclipse-pmd 1.4 0 Depend on pmd 6.6.0 and asm.6.1.1 ，but pmd6.6 Depend on asm 6.2.
it will bring some problems

[2018-08-24 19:56] Badgermeter opened #57 "Cannot use apex rules"
In Eclipse, if I try and use PMD on a Salesforce project it needs me to add a rule set.  In my ruleset.xml file, if I have a single entry like this, it loads fine.

<rule ref="category/java/codestyle.xml/AbstractNaming" />

BUT, if I put in a rule from the Apex page, it says that my ruleset.xml file is invalid

<rule ref="category/apex/codestyle.xml/WhileLoopsMustUseBraces" />

This is a basic rul

[2018-10-02 11:16] antoniovivalda opened #58 "Problem installing on STS 4"
Good Morning,

I've installed PMD on Spring STS4, but when I enable PMD on a Project I get this error:

Errors occurred during the build.
Error instantiating builder 'net.sourceforge.pmd.eclipse.pmdBuilder'.
Plug-in "net.sourceforge.pmd.eclipse" was unable to instantiate class "net.sourceforge.pmd.eclipse.builder.PMDBuilder".
net/sourceforge/pmd/TargetJDKVersion
Plug-in "net.sourceforge.pmd.eclips

[2018-10-03 08:45] adangel commented on #58
"net.sourceforge.pmd.eclipse.builder.PMDBuilder" is from the plugin here: https://github.com/pmd/pmd-eclipse-plugin
I don't know, what "net/sourceforge/pmd/TargetJDKVersion" is.... is this a custom class?

Are you using eclipse-pmd (this project) or [pmd-eclipse-plugin](https://github.com/pmd/pmd-eclipse-plugin)?

Please specify the exact versions of the PMD plugin, you have installed.

Thanks,
An

[2018-10-08 12:44] antoniovivalda commented on #58
Hi Andreas,

I've removed the pmd-eclipse-plugin and reistalled eclipse-pmd and everything works fine

Thank you

Antonio

[2018-10-08 12:44] #58 closed

[2018-10-27 10:54] acanda commented on #56
Thank you for reporting this bug. This will be fixed in the next version (where I also update to PMD 6.8.0 and asm 6.2.1).

[2018-10-27 11:07] #56 closed

[2018-10-27 11:28] #54 closed

[2019-02-24 17:04] #53 closed

[2019-02-24 17:06] #39 closed

[2019-08-01 08:24] bohni opened #65 "Bug: After importing an exising project, no more PMD checks were performed"
I imported a Maven project in Eclipse (Import > Maven > Exisiting Maven Projects) and enabled the PMD plugin. Then I choosed a ruleset in project folder (src/main/config/pmd/ruleset.xml). -> All works fine.

I added plugin-config-file (#7) `.eclipse-pmd` to source control (Git).

My team members cloned the repository and imported the Maven project in Eclipse.

PMd checks are not performed, althoug

[2019-08-01 08:27] bohni opened #66 "Bug: ruleset of other projects are also listed"
On project properties there are listed all ruelsets, also some where defined as "project" on other projects.
Those were marked with a warning sign and "file not found" tool tip.

[2019-08-01 11:04] acanda commented on #66
This works as intended. When you have a different pmd ruleset for each project then you most likely have it at the same location with the same filename in each project (e.g. all projects have a `pmd.xml` in a `config` folder). With this feature it makes it easier to set up all those projects. You dont have to go throught the wizard for each project but can simply do it for one project and then pic

[2019-08-01 11:47] acanda commented on #65
Do you also add `.project` to git? Because without this file the project will not have the nature `ch.acanda.eclipse.pmd.builder.PMDNature` and without this nature the PMD plugin will not be activated for that project.

[2019-08-01 12:07] bohni commented on #66
Thanks for clarifying.

[2019-08-01 12:07] #66 closed

[2019-08-01 12:09] bohni commented on #65
No, I haven't added `.project`. Didn't think of PMDNature. Thanks.

[2019-08-01 12:09] #65 closed

[2019-09-17 14:50] ptanov opened #67 "Developer should be able to exclude violation"
This feature is available in maven plugin:
<https://maven.apache.org/plugins/maven-pmd-plugin/examples/violation-exclusions.html>.

Thanks!

[2019-09-18 06:06] acanda commented on #67
If i would build this kind of exclusions into the eclipse plugin then it would lead to "works on my machine" problems, i.e. you wouldn't see the violations but everyone else would see them.

Can I ask why you don't or can't [suppress warnings with annotations or comments](https://pmd.github.io/latest/pmd_userdocs_suppressing_warnings.html), exclude files with [exclusions in the pmd configuration](

[2019-09-18 07:35] ptanov commented on #67
Hi @acanda, I see your point and I agree with it for a newly created project. Thanks for the fast reply!

My use case is applying PMD rules into existing project. In order to do so I'm suppressing all current warnings and later me and my team will clean "legacy" warnings in batches.

[2019-09-19 08:45] acanda commented on #67
When I'm starting to use PMD in an existing project I start with an empty rulest file, add a first rule and fix the issues, then add a second rule and fix the issues and so on. This way you can start using PMD at your own pace and still use PMD in your build without having any rule violations.

[2019-09-19 13:51] ptanov commented on #67
There is always more then one option :)
Thanks for your suggestion. If you don't see value in this functionality I'll close the ticket and we will probably try to fix the issues on the fly.

[2019-10-07 07:16] bohni opened #68 "Use Rulesets with unkonwn rules (from newer PMD versions)"
I want to use a rule set that contains rules from a newer version of PMD.

Since the plugin lists the rules individually, it should ignore an unknown rule when importing and not just display the "<file> is not a valid PMD rule set configuration" hint and make it impossible to select the rule set file.

The skipped rules could be listed after the import.

[2019-10-07 19:48] acanda commented on #68
I'm using PMD itself to load the rules from the ruleset file. I either get the rules if the file was valid or an exception if it was not. Unfortunately the exception can be anything from an NullPointerException to some xml parser exceptions and none of them have a usable message that will be helpful when show in the UI. I (or someone else) would have to reimplement the rule loading to give a bette

[2019-11-13 12:34] bohni commented on #68
Thanks for the reason and new version(s).

[2019-11-13 12:34] #68 closed

[2020-03-29 12:11] eclipse-pmd commented on #14
Kamino cloned this issue to [eclipse-pmd/eclipse-pmd](https://github.com/eclipse-pmd/eclipse-pmd/issues/1)

[2020-03-29 12:11] eclipse-pmd commented on #19
Kamino cloned this issue to [eclipse-pmd/eclipse-pmd](https://github.com/eclipse-pmd/eclipse-pmd/issues/2)

[2020-03-29 12:12] eclipse-pmd commented on #23
Kamino closed and cloned this issue to [eclipse-pmd/eclipse-pmd](https://github.com/eclipse-pmd/eclipse-pmd/issues/3)

[2020-03-29 12:14] eclipse-pmd commented on #24
Kamino cloned this issue to [eclipse-pmd/eclipse-pmd](https://github.com/eclipse-pmd/eclipse-pmd/issues/4)

[2020-03-29 12:15] eclipse-pmd commented on #29
Kamino cloned this issue to [eclipse-pmd/eclipse-pmd](https://github.com/eclipse-pmd/eclipse-pmd/issues/5)

[2020-03-29 12:15] eclipse-pmd commented on #33
Kamino cloned this issue to [eclipse-pmd/eclipse-pmd](https://github.com/eclipse-pmd/eclipse-pmd/issues/6)

[2020-03-29 12:19] eclipse-pmd commented on #41
Kamino cloned this issue to [eclipse-pmd/eclipse-pmd](https://github.com/eclipse-pmd/eclipse-pmd/issues/7)

[2020-03-29 12:20] eclipse-pmd commented on #55
Kamino cloned this issue to [eclipse-pmd/eclipse-pmd](https://github.com/eclipse-pmd/eclipse-pmd/issues/8)

[2020-03-29 12:24] eclipse-pmd commented on #57
Kamino cloned this issue to [eclipse-pmd/eclipse-pmd](https://github.com/eclipse-pmd/eclipse-pmd/issues/9)

[2020-03-29 12:25] eclipse-pmd commented on #67
Kamino cloned this issue to [eclipse-pmd/eclipse-pmd](https://github.com/eclipse-pmd/eclipse-pmd/issues/10)

[2020-03-29 12:29] #67 closed